<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>header</title>
</head>
<body>

<header>
    <div class="top_bar">
        <div class="container">
            <div class="top_header_content">
                <div class="menu_logo">
                    <a href="javascript:void(0);" title="" class="menu">
                        <i class="icon-menu"></i>
                    </a>
                    <a href="/index" title="" class="logo">
                        <img src="/static/images/logo.png" alt="">
                    </a>
                </div><!--menu_logo end-->
                <div class="search_form">
                    <form>
                        <input type="text" name="search" placeholder="Search Videos">
                        <button type="submit">
                            <i class="icon-search"></i>
                        </button>
                    </form>
                </div><!--search_form end-->
                <ul class="controls-lv">
                    <li>
                        <a href="#" title=""><i class="icon-message"></i></a>
                    </li>
                    <li>
                        <a href="#" title=""><i class="icon-notification"></i></a>
                    </li>
                    <li class="user-log">
                        <div class="user-ac-img">
                            <img src="/static/images/resources/user-img.png" alt="">
                        </div>
                        <div class="account-menu">
                            <h4>feiyunfeiyang <span class="usr-status">PRO</span></h4>
                            <div class="sd_menu">
                                <ul class="mm_menu">
                                    <li>
                                        <span>
                                            <i class="icon-user"></i>
                                        </span>
                                        <a href="#" title="">我的资料</a>
                                    </li>
                                    <li>
                                        <span>
                                            <i class="icon-paid_sub"></i>
                                        </span>
                                        <a href="#" title="">付费订阅</a>
                                    </li>
                                    <li>
                                        <span>
                                            <i class="icon-settings"></i>
                                        </span>
                                        <a href="#" title="">设置</a>
                                    </li>
                                    <li>
                                        <span>
                                            <i class="icon-logout"></i>
                                        </span>
                                        <a href="/logout" title="">退出</a>
                                    </li>
                                </ul>
                            </div><!--sd_menu end-->
                            <div class="sd_menu scnd">
                                <ul class="mm_menu">
                                    <li>
                                        <span>
                                            <i class="icon-light"></i>
                                        </span>
                                        <a href="#" title="">暗黑主题</a>
                                        <label class="switch">
                                            <input type="checkbox">
                                            <b class="slider round"></b>
                                        </label>
                                    </li>
                                    <li>
                                        <span>
                                            <i class="icon-language"></i>
                                        </span>
                                        <a href="#" title="">语言</a>
                                    </li>
                                    <li>
                                        <span>
                                            <i class="icon-feedback"></i>
                                        </span>
                                        <a href="#" title="">发送反馈</a>
                                    </li>
                                    <li>
                                        <span>
                                            <i class="icon-location"></i>
                                        </span>
                                        <a href="#" title="">中国</a>
                                        <i class="icon-arrow_below"></i>
                                    </li>
                                </ul>
                            </div><!--sd_menu end-->
                            <div class="restricted-mode">
                                <h4>限制模式</h4>
                                <label class="switch">
                                    <input type="checkbox" checked>
                                    <span class="slider round"></span>
                                </label>
                                <div class="clearfix"></div>
                            </div><!--restricted-more end-->
                        </div>
                    </li>
                    <li>
                        <a href="Upload_Video.html" title="" class="btn-default">Upload</a>
                    </li>
                </ul><!--controls-lv end-->
                <div class="clearfix"></div>
            </div><!--top_header_content end-->
        </div>
    </div><!--header_content end-->
    <div class="btm_bar">
        <div class="container">
            <div class="btm_bar_content">
                <nav>
                    <ul>
                        <li><a href="#" title="">Pages</a>
                            <div class="mega-menu">
                                <ul>
                                    <li><a href="/index" title="">Homepage</a></li>
                                    <li><a href="single_video_page.html" title="">Single Video Page</a></li>
                                    <li><a href="Single_Video_Simplified_Page.html" title="">Single Video Simplified Page</a></li>
                                    <li><a href="single_video_fullwidth_page.html" title="">Singel Video Full Width Page</a></li>
                                    <li><a href="single_video_playlist.html" title="">Single Video Playlist Page</a></li>
                                    <li><a href="Upload_Video.html" title="">Upload Video Page</a></li>
                                    <li><a href="Upload_Edit.html" title="">Upload Video Edit Page</a></li>
                                    <li><a href="Browse_Channels.html" title="">Browse channels page</a></li>
                                    <li><a href="Searched_Videos_Page.html" title="">Searched videos page</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#" title="">Single channel <span class="icon-arrow_below"></span></a>
                                        <ul>
                                            <li><a href="Single_Channel_Home.html" title="">Single Channel Home page</a></li>
                                            <li><a href="Single_Channel_Videos.html" title="">Single Channel videos page</a></li>
                                            <li><a href="Single_Channel_Playlist.html" title="">single channel playlist page</a></li>
                                            <li><a href="Single_Channel_Channels.html" title="">single channel channels page</a></li>
                                            <li><a href="Single_Channel_About.html" title="">single channel about page</a></li>
                                            <li><a href="Single_Channel_Products.html" title="">single channel products page</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="History_Page.html" title="">History page</a></li>
                                    <li><a href="Browse_Categories.html" title="">Browse Categories Page</a></li>
                                    <li><a href="Updates_From_Subs.html" title="">Updates from subscription page</a></li>
                                    <li><a href="login.html" title="">login page</a></li>
                                    <li><a href="signup.html" title="">signup page</a></li>
                                    <li><a href="User_Account_Page.html" title="">User account page</a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li><a href="Browse_Categories.html" title="">Categories</a></li>
                        <li><a href="Browse_Channels.html" title="">Channels</a></li>
                        <li><a href="#" title="">Trending</a></li>
                        <li><a href="Single_Channel_Home.html" title="">LIVE</a></li>
                        <li><a href="#" title="">Movies</a></li>
                    </ul>
                </nav><!--navigation end-->
                <ul class="shr_links">
                    <li>
                        <h3>Go to : </h3>
                    </li>
                    <li>
                        <button data-toggle="tooltip" data-placement="top" title="Like">
                            <i class="icon-like"></i>
                        </button>
                    </li>
                    <li>
                        <button data-toggle="tooltip" data-placement="top" title="Watch later">
                            <i class="icon-watch_later"></i>
                        </button>
                    </li>
                    <li>
                        <button data-toggle="tooltip" data-placement="top" title="Playlist">
                            <i class="icon-playlist"></i>
                        </button>
                    </li>
                    <li>
                        <button data-toggle="tooltip" data-placement="top" title="Purchased">
                            <i class="icon-purchased"></i>
                        </button>
                    </li>
                    <li>
                        <button data-toggle="tooltip" data-placement="top" title="History">
                            <i class="icon-history"></i>
                        </button>
                    </li>
                </ul><!--shr_links end-->
                <ul class="vid_thums">
                    <li>
                        <a class="active" href="#" title=""><i class="icon-grid"></i></a>
                    </li>
                    <li>
                        <a href="#" title="">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 108 108" xml:space="preserve">
										<rect width="63" height="45"/>
                                <rect x="81" width="27" height="45"/>
                                <rect x="45" y="63" width="63" height="45"/>
                                <rect y="63" width="27" height="45"/>
									</svg>
                        </a>
                    </li>
                </ul><!--vid_status end-->
                <div class="clearfix"></div>
            </div><!--btm_bar_content end-->
        </div>
    </div><!--btm_bar end-->
</header><!--header end-->
</body>
</html>