<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment = "commonHead(title)">
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <title th:text="${title}">Title</title>
    <meta name="description" content="">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--<link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">-->
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="/static/layer/css/layui.css" />
    <link rel="stylesheet" href="/static/layer/css/modules/laydate/default/laydate.css">
    <link rel="stylesheet" href="/static/layer/css/modules/layer/default/layer.css">
    <script type="application/javascript" src="/static/js/jquery-3.3.1.js"></script>
    <script type="application/javascript" src="/static/layer/layui.all.js"></script>
</head>
</html>