<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="side_menu">
    <div class="form_dvv">
        <a href="#" title="" class="login_form_show">Sign in</a>
    </div>
    <div class="sd_menu">
        <ul class="mm_menu">
            <li>
                <span>
                    <i class="icon-home"></i>
                </span>
                <a href="/index" title="">首页</a>
            </li>
            <li>
                <span>
                    <i class="icon-fire"></i>
                </span>
                <a href="#" title="">Trending</a>
            </li>
            <li>
                <span>
                    <i class="icon-subscriptions"></i>
                </span>
                <a href="#" title="">我的订阅</a>
            </li>
        </ul>
    </div><!--sd_menu end-->
    <div class="sd_menu">
        <h3>Library</h3>
        <ul class="mm_menu">
            <li>
                <span>
                    <i class="icon-history"></i>
                </span>
                <a href="#" title="">历史记录</a>
            </li>
            <li>
                <span>
                    <i class="icon-watch_later"></i>
                </span>
                <a href="#" title="">稍后观看</a>
            </li>
            <li>
                <span>
                    <i class="icon-purchased"></i>
                </span>
                <a href="#" title="">购买</a>
            </li>
            <li>
                <span>
                    <i class="icon-like"></i>
                </span>
                <a href="#" title="">喜欢的电影</a>
            </li>
            <li>
                <span>
                    <i class="icon-play_list"></i>
                </span>
                <a href="#" title="">播放清单</a>
            </li>
        </ul>
    </div><!--sd_menu end-->
    <div class="sd_menu subs_lst">
        <h3>我的关注</h3>
        <ul class="mm_menu">
            <li>
                <span class="usr_name">
                    <img src="/static/images/resources/th1.png" alt="">
                </span>
                <a href="#" title="">Dr Disrespect</a>
                <small>3</small>
            </li>
            <li>
                <span class="usr_name">
                    <img src="/static/images/resources/th2.png" alt="">
                </span>
                <a href="#" title="">ASMR</a>
                <small>6</small>
            </li>
            <li>
                <span class="usr_name">
                    <img src="/static/images/resources/th3.png" alt="">
                </span>
                <a href="#" title="">Rivvrs</a>
                <small>2</small>
            </li>
            <li>
                <span class="usr_name">
                    <img src="/static/images/resources/th4.png" alt="">
                </span>
                <a href="#" title="">The Verge</a>
                <small>11</small>
            </li>
            <li>
                <span class="usr_name">
                    <img src="/static/images/resources/th5.png" alt="">
                </span>
                <a href="#" title="">Seeker</a>
                <small>3</small>
            </li>
            <li>
                <span class="usr_name">
                    <img src="/static/images/resources/sn.png" alt="">
                </span>
                <a href="#" title="">Music</a>
                <small>20</small>
            </li>
        </ul>
        <a href="#" title="" class="more-ch"><i class="icon-arrow_below"></i> Show 14 more</a>
    </div><!--sd_menu end-->
    <div class="sd_menu">
        <ul class="mm_menu">
            <li>
                <span>
                    <i class="icon-settings"></i>
                </span>
                <a href="#" title="">设置</a>
            </li>
            <li>
                <span>
                    <i class="icon-flag"></i>
                </span>
                <a href="#" title="">历史报告</a>
            </li>
            <li>
                <span>
                    <i class="icon-logout"></i>
                </span>
                <a href="/logout" title="">退出</a>
            </li>
        </ul>
    </div><!--sd_menu end-->
    <div class="sd_menu m_linkz">
        <ul class="mm_menu">
            <li><a href="#">About</a></li>
            <li><a href="#">Community Rules </a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Blogs</a></li>
            <li><a href="#">Contracts </a></li>
            <li><a href="#">Donate</a></li>
            <li><a href="#">FAQ</a></li>
        </ul>
        <span>azyrusthemes</span>
    </div><!--sd_menu end-->
    <div class="sd_menu bb-0">
        <ul class="social_links">
            <li>
                <a href="#" title="">
                    <i class="icon-facebook-official"></i>
                </a>
            </li>
            <li>
                <a href="#" title="">
                    <i class="icon-twitter"></i>
                </a>
            </li>
            <li>
                <a href="#" title="">
                    <i class="icon-instagram"></i>
                </a>
            </li>
        </ul><!--social_links end-->
    </div><!--sd_menu end-->
    <div class="dd_menu"></div>
</div><!--side_menu end-->
</body>
</html>