<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/common :: commonHead('Oren Video Templat')"></head>
<body>

<div class="wrapper">

	<!-- header start-->
	<header th:include="/common/header"></header>
	<!-- header end-->
	<!-- menu start-->
	<header th:include="/common/left"></header>
	<!-- menu end-->

	<section class="browse-sec">
		<div class="container">
			<div class="browse_catgs">
				<div class="brws-head">
					<h3>Most Popular</h3>
					<a href="#" title="">View more</a>
					<div class="clearfix"></div>
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-6 col-12">
							<div class="videoo">
								<div class="vid_thumbainl">
									<a href="Single_Channel_Home.html" title="">
										<img src="/static/images/resources/cl1.jpg" alt="">
									</a>	
								</div><!--vid_thumbnail end-->
								<div class="video_info">
									<div class="vid_thumb">
										<img src="/static/images/resources/vid-thumb1.png" alt="">
									</div>
									<h4><a href="Single_Channel_Home.html" title="">Newfox Media</a> <span class="verify_ic"><i class="icon-tick"></i></span></h4>
									<span>13M Subscribers . 72 Videos 374M views</span>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-12">
							<div class="videoo">
								<div class="vid_thumbainl">
									<a href="Single_Channel_Home.html" title="">
										<img src="/static/images/resources/cl2.jpg" alt="">
									</a>	
								</div><!--vid_thumbnail end-->
								<div class="video_info">
									<div class="vid_thumb">
										<img src="/static/images/resources/vid-thumb2.png" alt="">
									</div>
									<h4><a href="Single_Channel_Home.html" title="">Adaptable</a> </h4>
									<span>6M Subscribers . 106 Videos 218M views</span>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-12">
							<div class="videoo">
								<div class="vid_thumbainl">
									<a href="Single_Channel_Home.html" title="">
										<img src="/static/images/resources/cl3.jpg" alt="">
									</a>	
								</div><!--vid_thumbnail end-->
								<div class="video_info">
									<div class="vid_thumb">
										<img src="/static/images/resources/vid-thumb3.png" alt="">
									</div>
									<h4><a href="Single_Channel_Home.html" title="">Immense </a> <span class="verify_ic"><i class="icon-tick"></i></span></h4>
									<span>28K Subscribers . 32 Videos 3M views</span>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-12">
							<div class="videoo">
								<div class="vid_thumbainl">
									<a href="Single_Channel_Home.html" title="">
										<img src="/static/images/resources/cl4.jpg" alt="">
									</a>	
								</div><!--vid_thumbnail end-->
								<div class="video_info">
									<div class="vid_thumb">
										<img src="/static/images/resources/vid-thumb4.png" alt="">
									</div>
									<h4><a href="Single_Channel_Home.html" title="">Kittens</a> <span class="verify_ic"><i class="icon-tick"></i></span></h4>
									<span>8M Subscribers . 340 Videos 637M views</span>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-12">
							<div class="videoo">
								<div class="vid_thumbainl">
									<a href="Single_Channel_Home.html" title="">
										<img src="/static/images/resources/cl5.jpg" alt="">
									</a>	
								</div><!--vid_thumbnail end-->
								<div class="video_info">
									<div class="vid_thumb">
										<img src="/static/images/resources/vid-thumb5.png" alt="">
									</div>
									<h4><a href="Single_Channel_Home.html" title="">Shoe</a> </h4>
									<span>2M Subscribers . 62 Videos 4M views</span>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-12">
							<div class="videoo">
								<div class="vid_thumbainl">
									<a href="Single_Channel_Home.html" title="">
										<img src="/static/images/resources/cl6.jpg" alt="">
									</a>	
								</div><!--vid_thumbnail end-->
								<div class="video_info">
									<div class="vid_thumb">
										<img src="/static/images/resources/vid-thumb6.png" alt="">
									</div>
									<h4><a href="Single_Channel_Home.html" title="">Pink</a> <span class="verify_ic"><i class="icon-tick"></i></span></h4>
									<span>49K Subscribers . 13 Videos 890K views</span>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-12">
							<div class="videoo">
								<div class="vid_thumbainl">
									<a href="Single_Channel_Home.html" title="">
										<img src="/static/images/resources/cl7.jpg" alt="">
									</a>	
								</div><!--vid_thumbnail end-->
								<div class="video_info">
									<div class="vid_thumb">
										<img src="/static/images/resources/vid-thumb7.png" alt="">
									</div>
									<h4><a href="Single_Channel_Home.html" title="">Teeny-tiny</a></h4>
									<span>98K Subscribers . 45 Videos 6M views</span>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-12">
							<div class="videoo">
								<div class="vid_thumbainl">
									<a href="Single_Channel_Home.html" title="">
										<img src="/static/images/resources/cl8.jpg" alt="">
									</a>	
								</div><!--vid_thumbnail end-->
								<div class="video_info">
									<div class="vid_thumb">
										<img src="/static/images/resources/vid-thumb8.png" alt="">
									</div>
									<h4><a href="Single_Channel_Home.html" title="">Intelligent </a> <span class="verify_ic"><i class="icon-tick"></i></span></h4>
									<span>74K Subscribers . 49 Videos 3M views</span>
								</div>
							</div>
						</div>
					</div>
				</div><!--brws-head end-->
				<div class="brws-head">
					<h3>Trending</h3>
					<a href="Single_Channel_Videos.html" title="">View more</a>
					<div class="clearfix"></div>
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-6 col-12">
							<div class="videoo">
								<div class="vid_thumbainl">
									<a href="Single_Channel_Home.html" title="">
										<img src="/static/images/resources/cl9.jpg" alt="">
									</a>	
								</div><!--vid_thumbnail end-->
								<div class="video_info">
									<div class="vid_thumb">
										<img src="/static/images/resources/vid-thumb9.png" alt="">
									</div>
									<h4><a href="Single_Channel_Home.html" title="">Woozy</a> </h4>
									<span>19M Subscribers . 117 Videos 43M views</span>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-12">
							<div class="videoo">
								<div class="vid_thumbainl">
									<a href="Single_Channel_Home.html" title="">
										<img src="/static/images/resources/cl10.jpg" alt="">
									</a>	
								</div><!--vid_thumbnail end-->
								<div class="video_info">
									<div class="vid_thumb">
										<img src="/static/images/resources/vid-thumb10.png" alt="">
									</div>
									<h4><a href="Single_Channel_Home.html" title="">Laugh </a> <span class="verify_ic"><i class="icon-tick"></i></span></h4>
									<span>53K Subscribers . 76 Videos 24M views</span>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-12">
							<div class="videoo">
								<div class="vid_thumbainl">
									<a href="Single_Channel_Home.html" title="">
										<img src="/static/images/resources/cl11.jpg" alt="">
									</a>	
								</div><!--vid_thumbnail end-->
								<div class="video_info">
									<div class="vid_thumb">
										<img src="/static/images/resources/vid-thumb11.png" alt="">
									</div>
									<h4><a href="Single_Channel_Home.html" title="">Breakable </a> </h4>
									<span>2M Subscribers . 40 Videos 13M views</span>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-12">
							<div class="videoo">
								<div class="vid_thumbainl">
									<a href="Single_Channel_Home.html" title="">
										<img src="/static/images/resources/cl12.jpg" alt="">
									</a>	
								</div><!--vid_thumbnail end-->
								<div class="video_info">
									<div class="vid_thumb">
										<img src="/static/images/resources/vid-thumb12.png" alt="">
									</div>
									<h4><a href="Single_Channel_Home.html" title="">Morning</a> <span class="verify_ic"><i class="icon-tick"></i></span></h4>
									<span>54K Subscribers . 35 Videos 6M views</span>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-12">
							<div class="videoo">
								<div class="vid_thumbainl">
									<a href="Single_Channel_Home.html" title="">
										<img src="/static/images/resources/cl13.jpg" alt="">
									</a>	
								</div><!--vid_thumbnail end-->
								<div class="video_info">
									<div class="vid_thumb">
										<img src="/static/images/resources/vid-thumb13.png" alt="">
									</div>
									<h4><a href="Single_Channel_Home.html" title="">Fire</a> <span class="verify_ic"><i class="icon-tick"></i></span></h4>
									<span>52M Subscribers . 266 Videos 2340M views</span>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-12">
							<div class="videoo">
								<div class="vid_thumbainl">
									<a href="Single_Channel_Home.html" title="">
										<img src="/static/images/resources/cl14.jpg" alt="">
									</a>	
								</div><!--vid_thumbnail end-->
								<div class="video_info">
									<div class="vid_thumb">
										<img src="/static/images/resources/vid-thumb14.png" alt="">
									</div>
									<h4><a href="Single_Channel_Home.html" title="">Swanky</a> </h4>
									<span>55K Subscribers . 36 Videos 16M views</span>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-12">
							<div class="videoo">
								<div class="vid_thumbainl">
									<a href="Single_Channel_Home.html" title="">
										<img src="/static/images/resources/cl15.jpg" alt="">
									</a>	
								</div><!--vid_thumbnail end-->
								<div class="video_info">
									<div class="vid_thumb">
										<img src="/static/images/resources/vid-thumb15.png" alt="">
									</div>
									<h4><a href="Single_Channel_Home.html" title="">Miscreant</a> </h4>
									<span>80K Subscribers . 71 Videos 32M views</span>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-12">
							<div class="videoo">
								<div class="vid_thumbainl">
									<a href="Single_Channel_Home.html" title="">
										<img src="/static/images/resources/cl16.jpg" alt="">
									</a>	
								</div><!--vid_thumbnail end-->
								<div class="video_info">
									<div class="vid_thumb">
										<img src="/static/images/resources/vid-thumb16.png" alt="">
									</div>
									<h4><a href="Single_Channel_Home.html" title="">Woebegone </a> </h4>
									<span>47K Subscribers . 380 Videos 182M views</span>
								</div>
							</div>
						</div>
					</div>
				</div><!--brws-head end-->
				<div class="brws-head">
					<h3>Most Recent</h3>
					<a href="Single_Channel_Videos.html" title="">View more</a>
					<div class="clearfix"></div>
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-6 col-12">
							<div class="videoo">
								<div class="vid_thumbainl">
									<a href="Single_Channel_Home.html" title="">
										<img src="/static/images/resources/cl17.jpg" alt="">
									</a>	
								</div><!--vid_thumbnail end-->
								<div class="video_info">
									<div class="vid_thumb">
										<img src="/static/images/resources/vid-thumb17.png" alt="">
									</div>
									<h4><a href="Single_Channel_Home.html" title="">Develop</a> <span class="verify_ic"><i class="icon-tick"></i></span></h4>
									<span>2K Subscribers . 7 Videos 7K views</span>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-12">
							<div class="videoo">
								<div class="vid_thumbainl">
									<a href="Single_Channel_Home.html" title="">
										<img src="/static/images/resources/cl18.jpg" alt="">
									</a>	
								</div><!--vid_thumbnail end-->
								<div class="video_info">
									<div class="vid_thumb">
										<img src="/static/images/resources/vid-thumb18.png" alt="">
									</div>
									<h4><a href="Single_Channel_Home.html" title="">Picture</a> <span class="verify_ic"><i class="icon-tick"></i></span></h4>
									<span>253 Subscribers . 6 Videos 24K views</span>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-12">
							<div class="videoo">
								<div class="vid_thumbainl">
									<a href="Single_Channel_Home.html" title="">
										<img src="/static/images/resources/cl19.jpg" alt="">
									</a>	
								</div><!--vid_thumbnail end-->
								<div class="video_info">
									<div class="vid_thumb">
										<img src="/static/images/resources/vid-thumb19.png" alt="">
									</div>
									<h4><a href="Single_Channel_Home.html" title="">Weather </a> </h4>
									<span>282 Subscribers . 3 Videos 18K views</span>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-12">
							<div class="videoo">
								<div class="vid_thumbainl">
									<a href="Single_Channel_Home.html" title="">
										<img src="/static/images/resources/cl20.jpg" alt="">
									</a>	
								</div><!--vid_thumbnail end-->
								<div class="video_info">
									<div class="vid_thumb">
										<img src="/static/images/resources/vid-thumb20.png" alt="">
									</div>
									<h4><a href="Single_Channel_Home.html" title="">Word</a> </h4>
									<span>2K Subscribers . 16 Videos 28K views</span>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-12">
							<div class="videoo">
								<div class="vid_thumbainl">
									<a href="Single_Channel_Home.html" title="">
										<img src="/static/images/resources/cl21.jpg" alt="">
									</a>	
								</div><!--vid_thumbnail end-->
								<div class="video_info">
									<div class="vid_thumb">
										<img src="/static/images/resources/vid-thumb21.png" alt="">
									</div>
									<h4><a href="Single_Channel_Home.html" title="">Maximum</a> </h4>
									<span>3K Subscribers . 9 Videos 12K views</span>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-12">
							<div class="videoo">
								<div class="vid_thumbainl">
									<a href="Single_Channel_Home.html" title="">
										<img src="/static/images/resources/cl22.jpg" alt="">
									</a>	
								</div><!--vid_thumbnail end-->
								<div class="video_info">
									<div class="vid_thumb">
										<img src="/static/images/resources/vid-thumb22.png" alt="">
									</div>
									<h4><a href="Single_Channel_Home.html" title="">Media Laws</a> </h4>
									<span>23 Subscribers . 2 Videos 3K views</span>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-12">
							<div class="videoo">
								<div class="vid_thumbainl">
									<a href="Single_Channel_Home.html" title="">
										<img src="/static/images/resources/cl23.jpg" alt="">
									</a>	
								</div><!--vid_thumbnail end-->
								<div class="video_info">
									<div class="vid_thumb">
										<img src="/static/images/resources/vid-thumb23.png" alt="">
									</div>
									<h4><a href="Single_Channel_Home.html" title="">Light</a> </h4>
									<span>380 Subscribers . 3 Videos 6K views</span>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-12">
							<div class="videoo">
								<div class="vid_thumbainl">
									<a href="Single_Channel_Home.html" title="">
										<img src="/static/images/resources/cl24.jpg" alt="">
									</a>	
								</div><!--vid_thumbnail end-->
								<div class="video_info">
									<div class="vid_thumb">
										<img src="/static/images/resources/vid-thumb24.png" alt="">
									</div>
									<h4><a href="Single_Channel_Home.html" title="">New Trailers </a> </h4>
									<span>2K Subscribers . 6 Videos 28K views</span>
								</div>
							</div>
						</div>
					</div>
				</div><!--brws-head end-->
			</div><!--</div> end-->
		</div>
	</section><!--browse-sec end-->

	<section class="more_items_sec text-center">
		<div class="container">
		</div>
	</section><!--more_items_sec end-->			


</div><!--wrapper end-->
<header th:include="/common/footer"></header>

</body>
</html>