<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/common :: commonHead('Oren Video Templat')"></head>
<body>

<div class="wrapper">

	<!-- header start-->
	<header th:include="/common/header"></header>
	<!-- header end-->
	<!-- menu start-->
	<header th:include="/common/left"></header>
	<!-- menu end-->

	<section class="browse_categories_sec">
		<div class="container">
			<div class="browse_categories">
				<div class="row">
					<div class="col-lg-2 col-md-4 col-sm-4 col-6 full_wdth">
						<div class="br-channel">
							<div class="br-channel-img">
								<a href="#" title="">
									<img src="/static/images/resources/br1.jpg" alt="">
								</a>
							</div>
							<div class="br-info">
								<h3><a href="#" title="">BattleState</a></h3>
								<span>230 Videos</span>
							</div>
						</div><!--br-channel end-->
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-6 full_wdth">
						<div class="br-channel">
							<div class="br-channel-img">
								<a href="#" title="">
									<img src="/static/images/resources/br2.jpg" alt="">
								</a>
							</div>
							<div class="br-info">
								<h3><a href="#" title="">BlackPink</a></h3>
								<span>191 Videos</span>
							</div>
						</div><!--br-channel end-->
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-6 full_wdth">
						<div class="br-channel">
							<div class="br-channel-img">
								<a href="#" title="">
									<img src="/static/images/resources/br3.jpg" alt="">
								</a>
							</div>
							<div class="br-info">
								<h3><a href="#" title="">Vevo</a> <span class="verify_ic"><i class="icon-tick"></i></span></h3>
								<span>12 Videos</span>
							</div>
						</div><!--br-channel end-->
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-6 full_wdth">
						<div class="br-channel">
							<div class="br-channel-img">
								<a href="#" title="">
									<img src="/static/images/resources/br4.jpg" alt="">
								</a>
							</div>
							<div class="br-info">
								<h3><a href="#" title="">Official PSY</a> <span class="verify_ic"><i class="icon-tick"></i></span></h3>
								<span>48 Videos</span>
							</div>
						</div><!--br-channel end-->
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-6 full_wdth">
						<div class="br-channel">
							<div class="br-channel-img">
								<a href="#" title="">
									<img src="/static/images/resources/br5.jpg" alt="">
								</a>
							</div>
							<div class="br-info">
								<h3><a href="#" title="">People</a></h3>
								<span>954 Videos</span>
							</div>
						</div><!--br-channel end-->
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-6 full_wdth">
						<div class="br-channel">
							<div class="br-channel-img">
								<a href="#" title="">
									<img src="/static/images/resources/br6.jpg" alt="">
								</a>
							</div>
							<div class="br-info">
								<h3><a href="#" title="">SmTownSmTown</a></h3>
								<span>130 Videos</span>
							</div>
						</div><!--br-channel end-->
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-6 full_wdth">
						<div class="br-channel">
							<div class="br-channel-img">
								<a href="#" title="">
									<img src="/static/images/resources/br7.jpg" alt="">
								</a>
							</div>
							<div class="br-info">
								<h3><a href="#" title="">BattleState</a></h3>
								<span>230 Videos</span>
							</div>
						</div><!--br-channel end-->
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-6 full_wdth">
						<div class="br-channel">
							<div class="br-channel-img">
								<a href="#" title="">
									<img src="/static/images/resources/br8.jpg" alt="">
								</a>
							</div>
							<div class="br-info">
								<h3><a href="#" title="">BlackPink</a></h3>
								<span>191 Videos</span>
							</div>
						</div><!--br-channel end-->
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-6 full_wdth">
						<div class="br-channel">
							<div class="br-channel-img">
								<a href="#" title="">
									<img src="/static/images/resources/br9.jpg" alt="">
								</a>
							</div>
							<div class="br-info">
								<h3><a href="#" title="">Vevo</a> <span class="verify_ic"><i class="icon-tick"></i></span></h3>
								<span>12 Videos</span>
							</div>
						</div><!--br-channel end-->
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-6 full_wdth">
						<div class="br-channel">
							<div class="br-channel-img">
								<a href="#" title="">
									<img src="/static/images/resources/br10.jpg" alt="">
								</a>
							</div>
							<div class="br-info">
								<h3><a href="#" title="">Official PSY</a> <span class="verify_ic"><i class="icon-tick"></i></span></h3>
								<span>48 Videos</span>
							</div>
						</div><!--br-channel end-->
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-6 full_wdth">
						<div class="br-channel">
							<div class="br-channel-img">
								<a href="#" title="">
									<img src="/static/images/resources/br11.jpg" alt="">
								</a>
							</div>
							<div class="br-info">
								<h3><a href="#" title="">People</a></h3>
								<span>954 Videos</span>
							</div>
						</div><!--br-channel end-->
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-6 full_wdth">
						<div class="br-channel">
							<div class="br-channel-img">
								<a href="#" title="">
									<img src="/static/images/resources/br12.jpg" alt="">
								</a>
							</div>
							<div class="br-info">
								<h3><a href="#" title="">SmTownSmTown</a></h3>
								<span>130 Videos</span>
							</div>
						</div><!--br-channel end-->
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-6 full_wdth">
						<div class="br-channel">
							<div class="br-channel-img">
								<a href="#" title="">
									<img src="/static/images/resources/br13.jpg" alt="">
								</a>
							</div>
							<div class="br-info">
								<h3><a href="#" title="">BattleState</a></h3>
								<span>230 Videos</span>
							</div>
						</div><!--br-channel end-->
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-6 full_wdth">
						<div class="br-channel">
							<div class="br-channel-img">
								<a href="#" title="">
									<img src="/static/images/resources/br14.jpg" alt="">
								</a>
							</div>
							<div class="br-info">
								<h3><a href="#" title="">BlackPink</a></h3>
								<span>191 Videos</span>
							</div>
						</div><!--br-channel end-->
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-6 full_wdth">
						<div class="br-channel">
							<div class="br-channel-img">
								<a href="#" title="">
									<img src="/static/images/resources/br15.jpg" alt="">
								</a>
							</div>
							<div class="br-info">
								<h3><a href="#" title="">Vevo</a> <span class="verify_ic"><i class="icon-tick"></i></span></h3>
								<span>12 Videos</span>
							</div>
						</div><!--br-channel end-->
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-6 full_wdth">
						<div class="br-channel">
							<div class="br-channel-img">
								<a href="#" title="">
									<img src="/static/images/resources/br16.jpg" alt="">
								</a>
							</div>
							<div class="br-info">
								<h3><a href="#" title="">Official PSY</a> <span class="verify_ic"><i class="icon-tick"></i></span></h3>
								<span>48 Videos</span>
							</div>
						</div><!--br-channel end-->
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-6 full_wdth">
						<div class="br-channel">
							<div class="br-channel-img">
								<a href="#" title="">
									<img src="/static/images/resources/br17.jpg" alt="">
								</a>
							</div>
							<div class="br-info">
								<h3><a href="#" title="">People</a></h3>
								<span>954 Videos</span>
							</div>
						</div><!--br-channel end-->
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-6 full_wdth">
						<div class="br-channel">
							<div class="br-channel-img">
								<a href="#" title="">
									<img src="/static/images/resources/br18.jpg" alt="">
								</a>
							</div>
							<div class="br-info">
								<h3><a href="#" title="">SmTownSmTown</a></h3>
								<span>130 Videos</span>
							</div>
						</div><!--br-channel end-->
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-6 full_wdth">
						<div class="br-channel">
							<div class="br-channel-img">
								<a href="#" title="">
									<img src="/static/images/resources/br1.jpg" alt="">
								</a>
							</div>
							<div class="br-info">
								<h3><a href="#" title="">BattleState</a></h3>
								<span>230 Videos</span>
							</div>
						</div><!--br-channel end-->
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-6 full_wdth">
						<div class="br-channel">
							<div class="br-channel-img">
								<a href="#" title="">
									<img src="/static/images/resources/br2.jpg" alt="">
								</a>
							</div>
							<div class="br-info">
								<h3><a href="#" title="">BlackPink</a></h3>
								<span>191 Videos</span>
							</div>
						</div><!--br-channel end-->
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-6 full_wdth">
						<div class="br-channel">
							<div class="br-channel-img">
								<a href="#" title="">
									<img src="/static/images/resources/br3.jpg" alt="">
								</a>
							</div>
							<div class="br-info">
								<h3><a href="#" title="">Vevo</a> <span class="verify_ic"><i class="icon-tick"></i></span></h3>
								<span>12 Videos</span>
							</div>
						</div><!--br-channel end-->
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-6 full_wdth">
						<div class="br-channel">
							<div class="br-channel-img">
								<a href="#" title="">
									<img src="/static/images/resources/br4.jpg" alt="">
								</a>
							</div>
							<div class="br-info">
								<h3><a href="#" title="">Official PSY</a> <span class="verify_ic"><i class="icon-tick"></i></span></h3>
								<span>48 Videos</span>
							</div>
						</div><!--br-channel end-->
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-6 full_wdth">
						<div class="br-channel">
							<div class="br-channel-img">
								<a href="#" title="">
									<img src="/static/images/resources/br5.jpg" alt="">
								</a>
							</div>
							<div class="br-info">
								<h3><a href="#" title="">People</a></h3>
								<span>954 Videos</span>
							</div>
						</div><!--br-channel end-->
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-6 full_wdth">
						<div class="br-channel">
							<div class="br-channel-img">
								<a href="#" title="">
									<img src="/static/images/resources/br6.jpg" alt="">
								</a>
							</div>
							<div class="br-info">
								<h3><a href="#" title="">SmTownSmTown</a></h3>
								<span>130 Videos</span>
							</div>
						</div><!--br-channel end-->
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-6 full_wdth">
						<div class="br-channel">
							<div class="br-channel-img">
								<a href="#" title="">
									<img src="/static/images/resources/br7.jpg" alt="">
								</a>
							</div>
							<div class="br-info">
								<h3><a href="#" title="">BattleState</a></h3>
								<span>230 Videos</span>
							</div>
						</div><!--br-channel end-->
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-6 full_wdth">
						<div class="br-channel">
							<div class="br-channel-img">
								<a href="#" title="">
									<img src="/static/images/resources/br8.jpg" alt="">
								</a>
							</div>
							<div class="br-info">
								<h3><a href="#" title="">BlackPink</a></h3>
								<span>191 Videos</span>
							</div>
						</div><!--br-channel end-->
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-6 full_wdth">
						<div class="br-channel">
							<div class="br-channel-img">
								<a href="#" title="">
									<img src="/static/images/resources/br9.jpg" alt="">
								</a>
							</div>
							<div class="br-info">
								<h3><a href="#" title="">Vevo</a> <span class="verify_ic"><i class="icon-tick"></i></span></h3>
								<span>12 Videos</span>
							</div>
						</div><!--br-channel end-->
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-6 full_wdth">
						<div class="br-channel">
							<div class="br-channel-img">
								<a href="#" title="">
									<img src="/static/images/resources/br10.jpg" alt="">
								</a>
							</div>
							<div class="br-info">
								<h3><a href="#" title="">Official PSY</a> <span class="verify_ic"><i class="icon-tick"></i></span></h3>
								<span>48 Videos</span>
							</div>
						</div><!--br-channel end-->
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-6 full_wdth">
						<div class="br-channel">
							<div class="br-channel-img">
								<a href="#" title="">
									<img src="/static/images/resources/br11.jpg" alt="">
								</a>
							</div>
							<div class="br-info">
								<h3><a href="#" title="">People</a></h3>
								<span>954 Videos</span>
							</div>
						</div><!--br-channel end-->
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-6 full_wdth">
						<div class="br-channel">
							<div class="br-channel-img">
								<a href="#" title="">
									<img src="/static/images/resources/br12.jpg" alt="">
								</a>
							</div>
							<div class="br-info">
								<h3><a href="#" title="">SmTownSmTown</a></h3>
								<span>130 Videos</span>
							</div>
						</div><!--br-channel end-->
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-6 full_wdth">
						<div class="br-channel">
							<div class="br-channel-img">
								<a href="#" title="">
									<img src="/static/images/resources/br13.jpg" alt="">
								</a>
							</div>
							<div class="br-info">
								<h3><a href="#" title="">BattleState</a></h3>
								<span>230 Videos</span>
							</div>
						</div><!--br-channel end-->
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-6 full_wdth">
						<div class="br-channel">
							<div class="br-channel-img">
								<a href="#" title="">
									<img src="/static/images/resources/br14.jpg" alt="">
								</a>
							</div>
							<div class="br-info">
								<h3><a href="#" title="">BlackPink</a></h3>
								<span>191 Videos</span>
							</div>
						</div><!--br-channel end-->
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-6 full_wdth">
						<div class="br-channel">
							<div class="br-channel-img">
								<a href="#" title="">
									<img src="/static/images/resources/br15.jpg" alt="">
								</a>
							</div>
							<div class="br-info">
								<h3><a href="#" title="">Vevo</a> <span class="verify_ic"><i class="icon-tick"></i></span></h3>
								<span>12 Videos</span>
							</div>
						</div><!--br-channel end-->
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-6 full_wdth">
						<div class="br-channel">
							<div class="br-channel-img">
								<a href="#" title="">
									<img src="/static/images/resources/br16.jpg" alt="">
								</a>
							</div>
							<div class="br-info">
								<h3><a href="#" title="">Official PSY</a> <span class="verify_ic"><i class="icon-tick"></i></span></h3>
								<span>48 Videos</span>
							</div>
						</div><!--br-channel end-->
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-6 full_wdth">
						<div class="br-channel">
							<div class="br-channel-img">
								<a href="#" title="">
									<img src="/static/images/resources/br17.jpg" alt="">
								</a>
							</div>
							<div class="br-info">
								<h3><a href="#" title="">People</a></h3>
								<span>954 Videos</span>
							</div>
						</div><!--br-channel end-->
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-6 full_wdth">
						<div class="br-channel">
							<div class="br-channel-img">
								<a href="#" title="">
									<img src="/static/images/resources/br18.jpg" alt="">
								</a>
							</div>
							<div class="br-info">
								<h3><a href="#" title="">SmTownSmTown</a></h3>
								<span>130 Videos</span>
							</div>
						</div><!--br-channel end-->
					</div>
				</div>
			</div><!--</div> end-->
			<div class="browse_cat_lists">
				<h3>Browse Categories</h3>
				<ul>
					<li><a href="#" title="">Abaft</a></li>
					<li><a href="#" title="">Brick</a></li>
					<li><a href="#" title="">Purpose</a></li>
					<li><a href="#" title="">Shallow</a></li>
					<li><a href="#" title="">Spray</a></li>
					<li><a href="#" title="">Seashore</a></li>
					<li><a href="#" title="">Orange</a></li>
					<li><a href="#" title="">Dynamic</a></li>
					<li><a href="#" title="">Planes</a></li>
					<li><a href="#" title="">Comfortable</a></li>
				</ul>
				<ul>
					<li><a href="#" title="">Leg</a></li>
					<li><a href="#" title="">Fall</a></li>
					<li><a href="#" title="">Pin</a></li>
					<li><a href="#" title="">Trouble</a></li>
					<li><a href="#" title="">Cemetery</a></li>
					<li><a href="#" title="">Sort</a></li>
					<li><a href="#" title="">Respect</a></li>
					<li><a href="#" title="">Rice</a></li>
					<li><a href="#" title="">Disagreeable</a></li>
					<li><a href="#" title="">Minister</a></li>
				</ul>
				<ul>
					<li><a href="#" title="">Quiet</a></li>
					<li><a href="#" title="">Rescue</a></li>
					<li><a href="#" title="">Agonizing</a></li>
					<li><a href="#" title="">Stitch</a></li>
					<li><a href="#" title="">Scissors</a></li>
					<li><a href="#" title="">Spiffy</a></li>
					<li><a href="#" title="">Tin</a></li>
					<li><a href="#" title="">Rambunctious</a></li>
					<li><a href="#" title="">Sordid</a></li>
					<li><a href="#" title="">Wise</a></li>
				</ul>
				<ul>
					<li><a href="#" title="">Boy</a></li>
					<li><a href="#" title="">Fold</a></li>
					<li><a href="#" title="">Moan</a></li>
					<li><a href="#" title="">Overjoyed</a></li>
					<li><a href="#" title="">Obsequious</a></li>
					<li><a href="#" title="">Heat</a></li>
					<li><a href="#" title="">Incompetent</a></li>
					<li><a href="#" title="">Grin</a></li>
					<li><a href="#" title="">Fat</a></li>
					<li><a href="#" title="">Gate</a></li>
				</ul>
				<ul>
					<li><a href="#" title="">Bells</a></li>
					<li><a href="#" title="">Symptomatic</a></li>
					<li><a href="#" title="">Rub</a></li>
					<li><a href="#" title="">Holiday</a></li>
					<li><a href="#" title="">Doubtful</a></li>
					<li><a href="#" title="">Bored</a></li>
					<li><a href="#" title="">Hot</a></li>
					<li><a href="#" title="">Tasteful</a></li>
					<li><a href="#" title="">Plot</a></li>
					<li><a href="#" title="">Grotesque</a></li>
				</ul>
				<ul>
					<li><a href="#" title="">Water</a></li>
					<li><a href="#" title="">Vessel</a></li>
					<li><a href="#" title="">Well-to-do</a></li>
					<li><a href="#" title="">Unequal</a></li>
					<li><a href="#" title="">Rhetorical</a></li>
					<li><a href="#" title="">Limit</a></li>
				</ul>
				<div class="clearfix"></div>
			</div><!--browse_cat_lists end-->
		</div>
	</section><!--browse-sec end-->

	<section class="more_items_sec text-center">
		<div class="container">
		</div>
	</section><!--more_items_sec end-->			


</div><!--wrapper end-->
<header th:include="/common/footer"></header>
</body>
</html>