<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/common :: commonHead('Oren Video Templat')"></head>
<body>

	<div class="wrapper hp_1">

		<!-- header start-->
		<header th:include="/common/header"></header>
		<!-- header end-->
		<!-- menu start-->
		<header th:include="/common/left"></header>
		<!-- menu end-->

		<section class="filter-sec">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-md-4 col-sm-4 col-6 full_wdth">
						<div class="filter">
							<h3 class="fl-head"><i class="icon-filter"></i> Filter</h3>
						</div><!--filter end-->						
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-6 full_wdth">
						<div class="filter">
							<h3 class="fl-head"><i class="icon-calender"></i> Upload Date</h3>
							<ul class="lnks">
								<li><a href="#" title="">Last hour</a></li>
								<li><a href="#" title="">Today</a></li>
								<li><a href="#" title="">This week</a></li>
								<li><a href="#" title="">This month</a></li>
								<li><a href="#" title="">This year</a></li>
							</ul>
						</div><!--filter end-->
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-6 full_wdth">
						<div class="filter">
							<h3 class="fl-head"><i class="icon-playlist"></i> Type</h3>
							<ul class="lnks">
								<li><a href="#" title="">Video <i class="icon-cancel"></i></a></li>
								<li><a href="#" title="">Channel</a></li>
								<li><a href="#" title="">Playlist</a></li>
								<li><a href="#" title="">Movie</a></li>
								<li><a href="#" title="">Show</a></li>
							</ul>
						</div><!--filter end-->
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-6 full_wdth">
						<div class="filter">
							<h3 class="fl-head"><i class="icon-watch_later"></i> Duration</h3>
							<ul class="lnks">
								<li><a href="#" title="">Short ( 4 min)</a></li>
								<li><a href="#" title="">Long ( 20 min)</a></li>
							</ul>
						</div><!--filter end-->
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-6 full_wdth">
						<div class="filter">
							<h3 class="fl-head"><i class="icon-features"></i> Features</h3>
							<ul class="lnks">
								<li><a href="#" title="">Live</a></li>
								<li><a href="#" title="">4K</a></li>
								<li><a href="#" title="">HD <i class="icon-cancel"></i></a></li>
								<li><a href="#" title="">360</a></li>
								<li><a href="#" title="">3D</a></li>
							</ul>
						</div><!--filter end-->
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-6 full_wdth">
						<div class="filter">
							<h3 class="fl-head"><i class="icon-star"></i> Sort by</h3>
							<ul class="lnks">
								<li><a href="#" title="">Relevance </a></li>
								<li><a href="#" title="">Upload data</a></li>
								<li><a href="#" title="">View count</a></li>
								<li><a href="#" title="">Rating</a></li>
							</ul>
						</div><!--filter end-->
					</div>
				</div>
			</div>
		</section><!--filter-sec end-->

		<section class="vds-main">
			<div class="vidz-row">
				<div class="container">
					<div class="vidz_list m-0">
						<div class="row">
							<div class="col-lg-3 col-md-6 col-sm-6 col-6 full_wdth">
								<div class="videoo">
									<div class="vid_thumbainl">
										<a href="#" title="">
											<img src="/static/images/resources/vide1.png" alt="">
											<span class="vid-time">10:21</span>
											<span class="watch_later">
												<i class="icon-watch_later_fill"></i>
											</span>
										</a>	
									</div><!--vid_thumbnail end-->
									<div class="video_info">
										<h3><a href="single_video_page.html" title="">Kingdom Come: Deliverance Funny Moments and Fails</a></h3>
										<h4><a href="Single_Channel_Home.html" title="">newfox media</a> <span class="verify_ic"><i class="icon-tick"></i></span></h4>
										<span>686K views .<small class="posted_dt">1 week ago</small></span>
									</div>
								</div><!--videoo end-->
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6 col-6 full_wdth">
								<div class="videoo">
									<div class="vid_thumbainl">
										<a href="#" title="">
											<img src="/static/images/resources/vide2.png" alt="">
											<span class="vid-time">13:49</span>
											<span class="watch_later">
												<i class="icon-watch_later_fill"></i>
											</span>
										</a>	
									</div><!--vid_thumbnail end-->
									<div class="video_info">
										<h3><a href="single_video_page.html" title="">DR DISRESPECT - Before They Were Famous - Twitch Streamer</a></h3>
										<h4><a href="Single_Channel_Home.html" title="">Eros Now</a> </h4>
										<span>283K views .<small class="posted_dt">3 months ago</small></span>
									</div>
								</div><!--videoo end-->
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6 col-6 full_wdth">
								<div class="videoo">
									<div class="vid_thumbainl">
										<a href="#" title="">
											<img src="/static/images/resources/vide3.png" alt="">
											<span class="vid-time">2:54</span>
											<span class="watch_later">
												<i class="icon-watch_later_fill"></i>
											</span>
										</a>	
									</div><!--vid_thumbnail end-->
									<div class="video_info">
										<h3><a href="single_video_page.html" title="">Top Perectly Timed Twitch Moments 2017 #7</a></h3>
										<h4><a href="Single_Channel_Home.html" title="">Animal Planet</a> <span class="verify_ic"><i class="icon-tick"></i></span></h4>
										<span>2.6M views .<small class="posted_dt">2 months ago</small></span>
									</div>
								</div><!--videoo end-->
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6 col-6 full_wdth">
								<div class="videoo">
									<div class="vid_thumbainl">
										<a href="#" title="">
											<img src="/static/images/resources/vide4.png" alt="">
											<span class="vid-time">5:25</span>
											<span class="watch_later">
												<i class="icon-watch_later_fill"></i>
											</span>
										</a>	
									</div><!--vid_thumbnail end-->
									<div class="video_info">
										<h3><a href="single_video_page.html" title="">Top 5 Amazing Bridge Block ever in PUBG</a></h3>
										<h4><a href="Single_Channel_Home.html" title="">Maketzi</a> </h4>
										<span>612K views .<small class="posted_dt">5 months ago</small></span>
									</div>
								</div><!--videoo end-->
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6 col-6 full_wdth">
								<div class="videoo">
									<div class="vid_thumbainl">
										<a href="#" title="">
											<img src="/static/images/resources/vide5.png" alt="">
											<span class="vid-time">4:01</span>
											<span class="watch_later">
												<i class="icon-watch_later_fill"></i>
											</span>
										</a>	
									</div><!--vid_thumbnail end-->
									<div class="video_info">
										<h3><a href="single_video_page.html" title="">Trailer Park Boys Season 12 - Official Trailer</a></h3>
										<h4><a href="Single_Channel_Home.html" title="">ScereBro</a> </h4>
										<span>45K views .<small class="posted_dt">3 days ago</small></span>
									</div>
								</div><!--videoo end-->
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6 col-6 full_wdth">
								<div class="videoo">
									<div class="vid_thumbainl">
										<a href="#" title="">
											<img src="/static/images/resources/vide6.png" alt="">
											<span class="vid-time">6:20</span>
											<span class="watch_later">
												<i class="icon-watch_later_fill"></i>
											</span>
										</a>	
									</div><!--vid_thumbnail end-->
									<div class="video_info">
										<h3><a href="single_video_page.html" title="">A day in the life of a Google software engineer</a></h3>
										<h4><a href="Single_Channel_Home.html" title="">MathChief</a> </h4>
										<span>86K views .<small class="posted_dt">6 days ago</small></span>
									</div>
								</div><!--videoo end-->
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6 col-6 full_wdth">
								<div class="videoo">
									<div class="vid_thumbainl">
										<a href="#" title="">
											<img src="/static/images/resources/vide7.png" alt="">
											<span class="vid-time">8:16</span>
											<span class="watch_later">
												<i class="icon-watch_later_fill"></i>
											</span>
										</a>	
									</div><!--vid_thumbnail end-->
									<div class="video_info">
										<h3><a href="single_video_page.html" title="">Avengers: Infinity War - Gym Workout motivation 2019</a></h3>
										<h4><a href="Single_Channel_Home.html" title="">RealLifeLore</a> <span class="verify_ic"><i class="icon-tick"></i></span></h4>
										<span>144K views .<small class="posted_dt">6 days ago</small></span>
									</div>
								</div><!--videoo end-->
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6 col-6 full_wdth">
								<div class="videoo">
									<div class="vid_thumbainl">
										<a href="#" title="">
											<img src="/static/images/resources/vide8.png" alt="">
											<span class="vid-time">29:32</span>
											<span class="watch_later">
												<i class="icon-watch_later_fill"></i>
											</span>
										</a>	
									</div><!--vid_thumbnail end-->
									<div class="video_info">
										<h3><a href="single_video_page.html" title="">How the Universe Works - The Milky Way Galaxy - Space</a></h3>
										<h4><a href="Single_Channel_Home.html" title="">Loskes</a></h4>
										<span>408K views .<small class="posted_dt">19 hours ago</small></span>
									</div>
								</div><!--videoo end-->
							</div>
						</div>
					</div><!--vidz_list end-->
				</div>
			</div><!--vidz-row end-->
			<div class="vidz-row">
				<div class="container">
					<div class="vidz_list m-0">
						<div class="row">
							<div class="col-lg-3 col-md-6 col-sm-6 col-6 full_wdth">
								<div class="videoo">
									<div class="vid_thumbainl">
										<a href="#" title="">
											<img src="/static/images/resources/vide9.png" alt="">
											<span class="vid-time">4:01</span>
											<span class="watch_later">
												<i class="icon-watch_later_fill"></i>
											</span>
										</a>	
									</div><!--vid_thumbnail end-->
									<div class="video_info">
										<h3><a href="single_video_page.html" title="">Trailer Park Boys Season 12 - Official Trailer</a></h3>
										<h4><a href="Single_Channel_Home.html" title="">ScereBro</a> </h4>
										<span>45K views .<small class="posted_dt">3 days ago</small></span>
									</div>
								</div><!--videoo end-->
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6 col-6 full_wdth">
								<div class="videoo">
									<div class="vid_thumbainl">
										<a href="#" title="">
											<img src="/static/images/resources/vide10.png" alt="">
											<span class="vid-time">6:20</span>
											<span class="watch_later">
												<i class="icon-watch_later_fill"></i>
											</span>
										</a>	
									</div><!--vid_thumbnail end-->
									<div class="video_info">
										<h3><a href="single_video_page.html" title="">A day in the life of a Google software engineer</a></h3>
										<h4><a href="Single_Channel_Home.html" title="">MathChief</a> </h4>
										<span>86K views .<small class="posted_dt">6 days ago</small></span>
									</div>
								</div><!--videoo end-->
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6 col-6 full_wdth">
								<div class="videoo">
									<div class="vid_thumbainl">
										<a href="#" title="">
											<img src="/static/images/resources/vide11.png" alt="">
											<span class="vid-time">8:16</span>
											<span class="watch_later">
												<i class="icon-watch_later_fill"></i>
											</span>
										</a>	
									</div><!--vid_thumbnail end-->
									<div class="video_info">
										<h3><a href="single_video_page.html" title="">Avengers: Infinity War - Gym Workout </a></h3>
										<h4><a href="Single_Channel_Home.html" title="">RealLifeLore</a> <span class="verify_ic"><i class="icon-tick"></i></span></h4>
										<span>144K views .<small class="posted_dt">6 days ago</small></span>
									</div>
								</div><!--videoo end-->
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6 col-6 full_wdth">
								<div class="videoo">
									<div class="vid_thumbainl">
										<a href="#" title="">
											<img src="/static/images/resources/vide12.png" alt="">
											<span class="vid-time">29:32</span>
											<span class="watch_later">
												<i class="icon-watch_later_fill"></i>
											</span>
										</a>	
									</div><!--vid_thumbnail end-->
									<div class="video_info">
										<h3><a href="single_video_page.html" title="">How the Universe Works - The Milky Way Galaxy - Space</a></h3>
										<h4><a href="Single_Channel_Home.html" title="">Loskes</a> </h4>
										<span>408K views .<small class="posted_dt">19 hours ago</small></span>
									</div>
								</div><!--videoo end-->
							</div>
						</div>
					</div><!--vidz_list end-->
				</div>
			</div><!--vidz-row end-->
			<div class="vidz-row">
				<div class="container">
					<div class="vidz_list m-0">
						<div class="row">
							<div class="col-lg-3 col-md-6 col-sm-6 col-6 full_wdth">
								<div class="videoo">
									<div class="vid_thumbainl">
										<a href="#" title="">
											<img src="/static/images/resources/vide13.png" alt="">
											<span class="vid-time">10:21</span>
											<span class="watch_later">
												<i class="icon-watch_later_fill"></i>
											</span>
										</a>	
									</div><!--vid_thumbnail end-->
									<div class="video_info">
										<h3><a href="single_video_page.html" title="">Kingdom Come: Deliverance Funny Moments and Fails</a></h3>
										<h4><a href="Single_Channel_Home.html" title="">newfox media</a> <span class="verify_ic"><i class="icon-tick"></i></span></h4>
										<span>686K views .<small class="posted_dt">1 week ago</small></span>
									</div>
								</div><!--videoo end-->
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6 col-6 full_wdth">
								<div class="videoo">
									<div class="vid_thumbainl">
										<a href="#" title="">
											<img src="/static/images/resources/vide14.png" alt="">
											<span class="vid-time">13:49</span>
											<span class="watch_later">
												<i class="icon-watch_later_fill"></i>
											</span>
										</a>	
									</div><!--vid_thumbnail end-->
									<div class="video_info">
										<h3><a href="single_video_page.html" title="">DR DISRESPECT - Before They Were Famous - Twitch Streamer</a></h3>
										<h4><a href="Single_Channel_Home.html" title="">Eros Now</a> </h4>
										<span>283K views .<small class="posted_dt">3 months ago</small></span>
									</div>
								</div><!--videoo end-->
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6 col-6 full_wdth">
								<div class="videoo">
									<div class="vid_thumbainl">
										<a href="#" title="">
											<img src="/static/images/resources/vide15.png" alt="">
											<span class="vid-time">2:54</span>
											<span class="watch_later">
												<i class="icon-watch_later_fill"></i>
											</span>
										</a>	
									</div><!--vid_thumbnail end-->
									<div class="video_info">
										<h3><a href="single_video_page.html" title="">Top Perectly Timed Twitch Moments 2017 #7</a></h3>
										<h4><a href="Single_Channel_Home.html" title="">Animal Planet</a> <span class="verify_ic"><i class="icon-tick"></i></span></h4>
										<span>2.6M views .<small class="posted_dt">2 months ago</small></span>
									</div>
								</div><!--videoo end-->
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6 col-6 full_wdth">
								<div class="videoo">
									<div class="vid_thumbainl">
										<a href="#" title="">
											<img src="/static/images/resources/vide16.png" alt="">
											<span class="vid-time">5:25</span>
											<span class="watch_later">
												<i class="icon-watch_later_fill"></i>
											</span>
										</a>	
									</div><!--vid_thumbnail end-->
									<div class="video_info">
										<h3><a href="single_video_page.html" title="">Top 5 Amazing Bridge Block ever in PUBG</a></h3>
										<h4><a href="Single_Channel_Home.html" title="">Maketzi</a> </h4>
										<span>612K views .<small class="posted_dt">5 months ago</small></span>
									</div>
								</div><!--videoo end-->
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6 col-6 full_wdth">
								<div class="videoo">
									<div class="vid_thumbainl">
										<a href="#" title="">
											<img src="/static/images/resources/vide17.png" alt="">
											<span class="vid-time">4:01</span>
											<span class="watch_later">
												<i class="icon-watch_later_fill"></i>
											</span>
										</a>	
									</div><!--vid_thumbnail end-->
									<div class="video_info">
										<h3><a href="single_video_page.html" title="">Trailer Park Boys Season 12 - Official Trailer</a></h3>
										<h4><a href="Single_Channel_Home.html" title="">ScereBro</a> </h4>
										<span>45K views .<small class="posted_dt">3 days ago</small></span>
									</div>
								</div><!--videoo end-->
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6 col-6 full_wdth">
								<div class="videoo">
									<div class="vid_thumbainl">
										<a href="#" title="">
											<img src="/static/images/resources/vide18.png" alt="">
											<span class="vid-time">6:20</span>
											<span class="watch_later">
												<i class="icon-watch_later_fill"></i>
											</span>
										</a>	
									</div><!--vid_thumbnail end-->
									<div class="video_info">
										<h3><a href="single_video_page.html" title="">A day in the life of a Google software engineer</a></h3>
										<h4><a href="Single_Channel_Home.html" title="">MathChief</a> </h4>
										<span>86K views .<small class="posted_dt">6 days ago</small></span>
									</div>
								</div><!--videoo end-->
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6 col-6 full_wdth">
								<div class="videoo">
									<div class="vid_thumbainl">
										<a href="#" title="">
											<img src="/static/images/resources/vide19.png" alt="">
											<span class="vid-time">8:16</span>
											<span class="watch_later">
												<i class="icon-watch_later_fill"></i>
											</span>
										</a>	
									</div><!--vid_thumbnail end-->
									<div class="video_info">
										<h3><a href="single_video_page.html" title="">Avengers: Infinity War - Gym Workout motivation 2019</a></h3>
										<h4><a href="Single_Channel_Home.html" title="">RealLifeLore</a> <span class="verify_ic"><i class="icon-tick"></i></span></h4>
										<span>144K views .<small class="posted_dt">6 days ago</small></span>
									</div>
								</div><!--videoo end-->
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6 col-6 full_wdth">
								<div class="videoo">
									<div class="vid_thumbainl">
										<a href="#" title="">
											<img src="/static/images/resources/vide20.png" alt="">
											<span class="vid-time">29:32</span>
											<span class="watch_later">
												<i class="icon-watch_later_fill"></i>
											</span>
										</a>	
									</div><!--vid_thumbnail end-->
									<div class="video_info">
										<h3><a href="single_video_page.html" title="">How the Universe Works - The Milky Way Galaxy - Space</a></h3>
										<h4><a href="Single_Channel_Home.html" title="">Loskes</a></h4>
										<span>408K views .<small class="posted_dt">19 hours ago</small></span>
									</div>
								</div><!--videoo end-->
							</div>
						</div>
					</div><!--vidz_list end-->
				</div>
			</div><!--vidz-row end-->
			<div class="vidz-row">
				<div class="container">
					<div class="vidz_list m-0">
						<div class="row">
							<div class="col-lg-3 col-md-6 col-sm-6 col-6 full_wdth">
								<div class="videoo">
									<div class="vid_thumbainl">
										<a href="#" title="">
											<img src="/static/images/resources/vide1.png" alt="">
											<span class="vid-time">10:21</span>
											<span class="watch_later">
												<i class="icon-watch_later_fill"></i>
											</span>
										</a>	
									</div><!--vid_thumbnail end-->
									<div class="video_info">
										<h3><a href="single_video_page.html" title="">Kingdom Come: Deliverance Funny Moments and Fails</a></h3>
										<h4><a href="Single_Channel_Home.html" title="">newfox media</a> <span class="verify_ic"><i class="icon-tick"></i></span></h4>
										<span>686K views .<small class="posted_dt">1 week ago</small></span>
									</div>
								</div><!--videoo end-->
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6 col-6 full_wdth">
								<div class="videoo">
									<div class="vid_thumbainl">
										<a href="#" title="">
											<img src="/static/images/resources/vide2.png" alt="">
											<span class="vid-time">13:49</span>
											<span class="watch_later">
												<i class="icon-watch_later_fill"></i>
											</span>
										</a>	
									</div><!--vid_thumbnail end-->
									<div class="video_info">
										<h3><a href="single_video_page.html" title="">DR DISRESPECT - Before They Were Famous - Twitch Streamer</a></h3>
										<h4><a href="Single_Channel_Home.html" title="">Eros Now</a> </h4>
										<span>283K views .<small class="posted_dt">3 months ago</small></span>
									</div>
								</div><!--videoo end-->
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6 col-6 full_wdth">
								<div class="videoo">
									<div class="vid_thumbainl">
										<a href="#" title="">
											<img src="/static/images/resources/vide3.png" alt="">
											<span class="vid-time">2:54</span>
											<span class="watch_later">
												<i class="icon-watch_later_fill"></i>
											</span>
										</a>	
									</div><!--vid_thumbnail end-->
									<div class="video_info">
										<h3><a href="single_video_page.html" title="">Top Perectly Timed Twitch Moments 2017 #7</a></h3>
										<h4><a href="Single_Channel_Home.html" title="">Animal Planet</a> <span class="verify_ic"><i class="icon-tick"></i></span></h4>
										<span>2.6M views .<small class="posted_dt">2 months ago</small></span>
									</div>
								</div><!--videoo end-->
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6 col-6 full_wdth">
								<div class="videoo">
									<div class="vid_thumbainl">
										<a href="#" title="">
											<img src="/static/images/resources/vide4.png" alt="">
											<span class="vid-time">5:25</span>
											<span class="watch_later">
												<i class="icon-watch_later_fill"></i>
											</span>
										</a>	
									</div><!--vid_thumbnail end-->
									<div class="video_info">
										<h3><a href="single_video_page.html" title="">Top 5 Amazing Bridge Block ever in PUBG</a></h3>
										<h4><a href="Single_Channel_Home.html" title="">Maketzi</a> </h4>
										<span>612K views .<small class="posted_dt">5 months ago</small></span>
									</div>
								</div><!--videoo end-->
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6 col-6 full_wdth">
								<div class="videoo">
									<div class="vid_thumbainl">
										<a href="#" title="">
											<img src="/static/images/resources/vide5.png" alt="">
											<span class="vid-time">4:01</span>
											<span class="watch_later">
												<i class="icon-watch_later_fill"></i>
											</span>
										</a>	
									</div><!--vid_thumbnail end-->
									<div class="video_info">
										<h3><a href="single_video_page.html" title="">Trailer Park Boys Season 12 - Official Trailer</a></h3>
										<h4><a href="Single_Channel_Home.html" title="">ScereBro</a> </h4>
										<span>45K views .<small class="posted_dt">3 days ago</small></span>
									</div>
								</div><!--videoo end-->
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6 col-6 full_wdth">
								<div class="videoo">
									<div class="vid_thumbainl">
										<a href="#" title="">
											<img src="/static/images/resources/vide6.png" alt="">
											<span class="vid-time">6:20</span>
											<span class="watch_later">
												<i class="icon-watch_later_fill"></i>
											</span>
										</a>	
									</div><!--vid_thumbnail end-->
									<div class="video_info">
										<h3><a href="single_video_page.html" title="">A day in the life of a Google software engineer</a></h3>
										<h4><a href="Single_Channel_Home.html" title="">MathChief</a> </h4>
										<span>86K views .<small class="posted_dt">6 days ago</small></span>
									</div>
								</div><!--videoo end-->
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6 col-6 full_wdth">
								<div class="videoo">
									<div class="vid_thumbainl">
										<a href="#" title="">
											<img src="/static/images/resources/vide7.png" alt="">
											<span class="vid-time">8:16</span>
											<span class="watch_later">
												<i class="icon-watch_later_fill"></i>
											</span>
										</a>	
									</div><!--vid_thumbnail end-->
									<div class="video_info">
										<h3><a href="single_video_page.html" title="">Avengers: Infinity War - Gym Workout motivation 2019</a></h3>
										<h4><a href="Single_Channel_Home.html" title="">RealLifeLore</a> <span class="verify_ic"><i class="icon-tick"></i></span></h4>
										<span>144K views .<small class="posted_dt">6 days ago</small></span>
									</div>
								</div><!--videoo end-->
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6 col-6 full_wdth">
								<div class="videoo">
									<div class="vid_thumbainl">
										<a href="#" title="">
											<img src="/static/images/resources/vide8.png" alt="">
											<span class="vid-time">29:32</span>
											<span class="watch_later">
												<i class="icon-watch_later_fill"></i>
											</span>
										</a>	
									</div><!--vid_thumbnail end-->
									<div class="video_info">
										<h3><a href="single_video_page.html" title="">How the Universe Works - The Milky Way Galaxy - Space</a></h3>
										<h4><a href="Single_Channel_Home.html" title="">Loskes</a></h4>
										<span>408K views .<small class="posted_dt">19 hours ago</small></span>
									</div>
								</div><!--videoo end-->
							</div>
						</div>
					</div><!--vidz_list end-->
				</div>
			</div><!--vidz-row end-->
		</section><!--vds-main end-->

		<section class="more_items_sec mgt-50 text-center">
			<div class="container">

			</div>
		</section><!--more_items_sec end-->

	</div><!--wrapper end-->
	<header th:include="/common/footer"></header>
</body>

</html>