<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/common :: commonHead('Oren Video Templat')"></head>
<body>

<div class="wrapper">

	<!-- header start-->
	<header th:include="/common/header"></header>
	<!-- header end-->
	<!-- menu start-->
	<header th:include="/common/left"></header>
	<!-- menu end-->

	<section class="upload-detail">
		<div class="container">
			<h3> Upload Details</h3>
			<div class="vid_thumbainl tr">
				<a href="#" title="">
					<img src="/static/images/resources/vide1.png" alt="">
					<span class="vid-time">30:32</span>
				</a>	
			</div><!--vid_thumbnail tr end-->
			<div class="video_info sr">
				<h3><a href="#" title="">30-Minute Beginner's Strength Training workout</a></h3>
				<h4>102.6 MB, 2:13 MIN Remaining</h4>
				<div class="progress">
				    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:45%">
				      <span class="sr-only">70% Complete</span>
				    </div>
				</div>
				<a href="#" title="" class="cancel_vid">
					<i class="icon-cancel"></i>
				</a>
				<p> Your Video is still uploading, please keep this page open util it’s done.</p>
			</div><!--videoo end-->
			<div class="clearfix"></div>
		</div>
	</section><!--upload-detail end-->


	<section class="vid-title-sec">
		<div class="container">
			<form>
				<div class="vid-title">
					<h2 class="title-hd">Video Title </h2>
					<div class="form_field">
						<input type="text" placeholder="Add here (99 characters remaining)">
					</div>
				</div><!--vid-title-->
				<div class="abt-vidz-pr">
					<h2 class="title-hd"> About </h2>
					<div class="form_field">
						<textarea placeholder="Description"></textarea>
					</div>
				</div><!--abt-vidz-->
				<div class="cls-vidz">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-6 col-12">
							<div class="option">
								<h2 class="title-hd">Orientation </h2>
								<div class="form_field">
									<select>
										<option>Straight</option>
										<option>Straight</option>
										<option>Straight</option>
										<option>Straight</option>
									</select>
									<a href="#" title="" class="arw_vz">
										<svg width="24" height="26" viewBox="0 0 24 26" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M19.9394 7.51447L22.0607 9.63579L12 19.6964L1.93936 9.63579L4.06068 7.51447L12 15.4538L19.9394 7.51447Z" fill="#9494A0"></path>
										</svg>
									</a>
								</div>
							</div><!--option end-->
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-12">
							<div class="option">
								<h2 class="title-hd">Privacy Settings</h2>
								<div class="form_field">
									<select>
										<option>Public</option>
										<option>Public</option>
										<option>Public</option>
										<option>Public</option>
									</select>
									<a href="#" title="" class="arw_vz">
										<svg width="24" height="26" viewBox="0 0 24 26" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M19.9394 7.51447L22.0607 9.63579L12 19.6964L1.93936 9.63579L4.06068 7.51447L12 15.4538L19.9394 7.51447Z" fill="#9494A0"></path>
										</svg>
									</a>
								</div>
							</div><!--option end-->
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-12">
							<div class="option">
								<h2 class="title-hd">Monetize </h2>
								<div class="form_field">
									<select>
										<option>Yes</option>
										<option>Yes</option>
										<option>Yes</option>
										<option>Yes</option>
									</select>
									<a href="#" title="" class="arw_vz">
										<svg width="24" height="26" viewBox="0 0 24 26" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M19.9394 7.51447L22.0607 9.63579L12 19.6964L1.93936 9.63579L4.06068 7.51447L12 15.4538L19.9394 7.51447Z" fill="#9494A0"></path>
										</svg>
									</a>
								</div>
							</div><!--option end-->
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-12">
							<div class="option">
								<h2 class="title-hd">License </h2>
								<div class="form_field">
									<select>
										<option>Standard</option>
										<option>Standard</option>
										<option>Standard</option>
										<option>Standard</option>
									</select>
									<a href="#" title="" class="arw_vz">
										<svg width="24" height="26" viewBox="0 0 24 26" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M19.9394 7.51447L22.0607 9.63579L12 19.6964L1.93936 9.63579L4.06068 7.51447L12 15.4538L19.9394 7.51447Z" fill="#9494A0"></path>
										</svg>
									</a>
								</div>
							</div><!--option end-->
						</div>
					</div>
				</div><!--cls-vidz end-->
				<div class="abt-tags">
					<div class="row">
						<div class="col-lg-9 col-md-9 col-sm-8 col-12">
							<h2 class="title-hd">Tags (13 Tags Remaining) </h2>
							<div class="form_field pr">
								<input type="text" placeholder="#gaming #PS4 #funny">
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-4 col-12">
							<div class="option">
								<h2 class="title-hd">License </h2>
								<div class="form_field">
									<select>
										<option>Standard</option>
										<option>Standard</option>
										<option>Standard</option>
										<option>Standard</option>
									</select>
									<a href="#" title="" class="arw_vz">
										<svg width="24" height="26" viewBox="0 0 24 26" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M19.9394 7.51447L22.0607 9.63579L12 19.6964L1.93936 9.63579L4.06068 7.51447L12 15.4538L19.9394 7.51447Z" fill="#9494A0"></path>
										</svg>
									</a>
								</div>
							</div><!--option end-->
						</div>
					</div>
				</div><!--abt-tags--->
				<div class="amazon-products">
					<h2 class="title-hd">Amazon affiliate product links (Add upto 4 products) </h2>
					<div class="prodcts-sec">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-6 col-12">
								<div class="form_field pr">
									<input type="text" placeholder="Add Link ">
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-12">
								<div class="form_field pr">
									<input type="text" placeholder="Add Link ">
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-12">
								<div class="form_field pr">
									<input type="text" placeholder="Add Link ">
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-12">
								<div class="form_field pr">
									<input type="text" placeholder="Add Link ">
								</div>
							</div>
						</div>
					</div><!--prodcts-sec end-->
				</div><!--amazon-products end-->
				<div class="category">
					<h2 class="title-hd">Category (select upto 6 categories)</h2>
					<div class="category-typ">
						<ul class="catgss_list">
							<li>
								<div class="chekbox-lg">
									<label>
										<input type="checkbox" name="abaft" value="ab">
										<b class="checkmark"></b>
										<span>Abaft</span>
									</label>
								</div>
							</li>
							<li>
								<div class="chekbox-lg">
									<label>
										<input type="checkbox" name="Brick" value="ab">
										<b class="checkmark"></b>
										<span>Brick</span>
									</label>
								</div>
							</li>
							<li>
								<div class="chekbox-lg">
									<label>
										<input type="checkbox" name="Purpose" value="ab">
										<b class="checkmark"></b>
										<span>Purpose</span>
									</label>
								</div>
							</li>
							<li>
								<div class="chekbox-lg">
									<label>
										<input type="checkbox" name="Shallow" value="ab">
										<b class="checkmark"></b>
										<span>Shallow</span>
									</label>
								</div>
							</li>
							<li>
								<div class="chekbox-lg">
									<label>
										<input type="checkbox" name="Spray" value="brick">
										<b class="checkmark"></b>
										<span>Spray</span>
									</label>
								</div>
							</li>
							<li>
								<div class="chekbox-lg">
									<label>
										<input type="checkbox" name="Seashore" value="brick">
										<b class="checkmark"></b>
										<span>Seashore</span>
									</label>
								</div>
							</li>
							<li>
								<div class="chekbox-lg">
									<label>
										<input type="checkbox" name="Orange" value="brick">
										<b class="checkmark"></b>
										<span>Orange</span>
									</label>
								</div>
							</li>
							<li>
								<div class="chekbox-lg">
									<label>
										<input type="checkbox" name="Dynamic" value="brick">
										<b class="checkmark"></b>
										<span>Dynamic</span>
									</label>
								</div>
							</li>
							<li>
								<div class="chekbox-lg">
									<label>
										<input type="checkbox" name="Planes" value="purpose">
										<b class="checkmark"></b>
										<span>Planes</span>
									</label>
								</div>
							</li>
							<li>
								<div class="chekbox-lg">
									<label>
										<input type="checkbox" name="Comfortable" value="purpose">
										<b class="checkmark"></b>
										<span>Comfortable</span>
									</label>
								</div>
							</li>
							<li>
								<div class="chekbox-lg">
									<label>
										<input type="checkbox" name="Leg" value="purpose">
										<b class="checkmark"></b>
										<span>Leg</span>
									</label>
								</div>
							</li>
							<li>
								<div class="chekbox-lg">
									<label>
										<input type="checkbox" name="Fall" value="purpose">
										<b class="checkmark"></b>
										<span>Fall</span>
									</label>
								</div>
							</li>
							<li>
								<div class="chekbox-lg">
									<label>
										<input type="checkbox" name="Pin" value="shallow">
										<b class="checkmark"></b>
										<span>Pin</span>
									</label>
								</div>
							</li>
							<li>
								<div class="chekbox-lg">
									<label>
										<input type="checkbox" name="Trouble" value="shallow">
										<b class="checkmark"></b>
										<span>Trouble</span>
									</label>
								</div>
							</li>
							<li>
								<div class="chekbox-lg">
									<label>
										<input type="checkbox" name="Cemetery" value="shallow">
										<b class="checkmark"></b>
										<span>Cemetery</span>
									</label>
								</div>
							</li>
							<li>
								<div class="chekbox-lg">
									<label>
										<input type="checkbox" name="Sort" value="shallow">
										<b class="checkmark"></b>
										<span>Sort</span>
									</label>
								</div>
							</li>
							<li>
								<div class="chekbox-lg">
									<label>
										<input type="checkbox" name="Respect" value="spray">
										<b class="checkmark"></b>
										<span>Respect</span>
									</label>
								</div>
							</li>
							<li>
								<div class="chekbox-lg">
									<label>
										<input type="checkbox" name="Rice" value="spray">
										<b class="checkmark"></b>
										<span>Rice</span>
									</label>
								</div>
							</li>
							<li>
								<div class="chekbox-lg">
									<label>
										<input type="checkbox" name="Disagreeable" value="spray">
										<b class="checkmark"></b>
										<span>Disagreeable</span>
									</label>
								</div>
							</li>
							<li>
								<div class="chekbox-lg">
									<label>
										<input type="checkbox" name="Minister" value="spray">
										<b class="checkmark"></b>
										<span>Minister</span>
									</label>
								</div>
							</li>
							<li>
								<div class="chekbox-lg">
									<label>
										<input type="checkbox" name="Quiet" value="seashore">
										<b class="checkmark"></b>
										<span>Quiet</span>
									</label>
								</div>
							</li>
							<li>
								<div class="chekbox-lg">
									<label>
										<input type="checkbox" name="Rescue" value="seashore">
										<b class="checkmark"></b>
										<span>Rescue</span>
									</label>
								</div>
							</li>
							<li>
								<div class="chekbox-lg">
									<label>
										<input type="checkbox" name="Agonizing" value="seashore">
										<b class="checkmark"></b>
										<span>Agonizing</span>
									</label>
								</div>
							</li>
							<li>
								<div class="chekbox-lg">
									<label>
										<input type="checkbox" name="Stitch" value="seashore">
										<b class="checkmark"></b>
										<span>Stitch</span>
									</label>
								</div>
							</li>
							<li>
								<div class="chekbox-lg">
									<label>
										<input type="checkbox" name="Scissors" value="orange">
										<b class="checkmark"></b>
										<span>Scissors</span>
									</label>
								</div>
							</li>
							<li>
								<div class="chekbox-lg">
									<label>
										<input type="checkbox" name="Spiffy" value="orange">
										<b class="checkmark"></b>
										<span>Spiffy</span>
									</label>
								</div>
							</li>
							<li>
								<div class="chekbox-lg">
									<label>
										<input type="checkbox" name="Tin" value="orange">
										<b class="checkmark"></b>
										<span>Tin</span>
									</label>
								</div>
							</li>
							<li>
								<div class="chekbox-lg">
									<label>
										<input type="checkbox" name="Rambunctious" value="orange">
										<b class="checkmark"></b>
										<span>Rambunctious</span>
									</label>
								</div>
							</li>
							<li>
								<div class="chekbox-lg">
									<label>
										<input type="checkbox" name="Sordid" value="dynamic">
										<b class="checkmark"></b>
										<span>Sordid</span>
									</label>
								</div>
							</li>
							<li>
								<div class="chekbox-lg">
									<label>
										<input type="checkbox" name="Wise" value="dynamic">
										<b class="checkmark"></b>
										<span>Wise</span>
									</label>
								</div>
							</li>
							<li>
								<div class="chekbox-lg">
									<label>
										<input type="checkbox" name="Boy" value="dynamic">
										<b class="checkmark"></b>
										<span>Boy</span>
									</label>
								</div>
							</li>
							<li>
								<div class="chekbox-lg">
									<label>
										<input type="checkbox" name="Fold" value="dynamic">
										<b class="checkmark"></b>
										<span>Fold</span>
									</label>
								</div>
							</li>
							<li>
								<div class="chekbox-lg">
									<label>
										<input type="checkbox" name="Moan" value="planes">
										<b class="checkmark"></b>
										<span>Moan</span>
									</label>
								</div>
							</li>
							<li>
								<div class="chekbox-lg">
									<label>
										<input type="checkbox" name="Overjoyed" value="planes">
										<b class="checkmark"></b>
										<span>Overjoyed</span>
									</label>
								</div>
							</li>
							<li>
								<div class="chekbox-lg">
									<label>
										<input type="checkbox" name="Obsequious" value="planes">
										<b class="checkmark"></b>
										<span>Obsequious</span>
									</label>
								</div>
							</li>
							<li>
								<div class="chekbox-lg">
									<label>
										<input type="checkbox" name="Heat" value="planes">
										<b class="checkmark"></b>
										<span>Heat</span>
									</label>
								</div>
							</li>
							<li>
								<div class="chekbox-lg">
									<label>
										<input type="checkbox" name="Incompetent" value="comfortable">
										<b class="checkmark"></b>
										<span>Incompetent</span>
									</label>
								</div>
							</li>
							<li>
								<div class="chekbox-lg">
									<label>
										<input type="checkbox" name="Grin" value="comfortable">
										<b class="checkmark"></b>
										<span>Grin</span>
									</label>
								</div>
							</li>
							<li>
								<div class="chekbox-lg">
									<label>
										<input type="checkbox" name="Fat" value="comfortable">
										<b class="checkmark"></b>
										<span>Fat</span>
									</label>
								</div>
							</li>
							<li>
								<div class="chekbox-lg">
									<label>
										<input type="checkbox" name="Gate" value="comfortable">
										<b class="checkmark"></b>
										<span>Gate</span>
									</label>
								</div>
							</li>
						</ul>
						<div class="clearfix"></div>
						<div class="btn-sbmit">
							<button type="submit">Save</button>
						</div><!--btn-sbmit end-->
					</div><!--category-typ-->
				</div><!--Category-->
			</form>
		</div>
	</section><!--vid-title-sec-->

	<section class="suggestions">
		<div class="container">
			<div class="sgst_content">
				<h3>Help & Suggestions</h3>
				<p>By submitting your videos to ProjectFitnessTV, you acknowledge that you agree to ProjectFitnessTV’s<a href="#" title=""> Terms of Service</a>and<a href="#" title="">Community Guidelines</a>. Please be sure not to violate others’ copyright or privacy rights.<a href="#"> Learn more</a></p>
			</div>
		</div>
	</section><!--Suggestions end-->


	<div class="abt-vidz">
		<ul>
			<li>
				<a href="#">Upload Instructions </a>
			</li>
			<li>
				<a href="#">Troubleshooting </a>
			</li>
			<li>
				<a href="#">Mobile Upload </a>
			</li>
		</ul>
	</div><!--abt-vidz-->


	<footer>
		<div class="container">
			<div class="top-footer">
				<div class="row">
					<div class="col-lg-12">
						<div class="ft-logo">
							<img src="/static/images/ft-logo.png" alt="">
						</div><!--ft-logo end-->
					</div>
					<div class="col-lg-2 col-md-4 col-sm-6 col-12">
						<div class="widget">
							<h3 class="widget-title">pages</h3>
							<ul class="pages-link">
								<li><a href="#" title="">About</a></li>
								<li><a href="#" title="">Community Rules</a></li>
								<li><a href="#" title="">Privacy</a></li>
								<li><a href="#" title="">Terms</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-2 col-md-4 col-sm-6 col-12">
						<div class="widget">
							<h3 class="widget-title">Links</h3>
							<ul class="pages-link">
								<li><a href="#" title="">Blog</a></li>
								<li><a href="#" title="">Contact</a></li>
								<li><a href="#" title="">Donate</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-2 col-md-4 col-sm-6 col-12">
						<div class="widget">
							<h3 class="widget-title">support</h3>
							<ul class="pages-link">
								<li><a href="#" title="">Support</a></li>
								<li><a href="#" title="">FAQ</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-6 col-md-12 col-sm-6 col-12">
						<div class="widget widget-information">
							<h3 class="widget-title">Information</h3>
							<p>Oren is a video sharing platform created for the discovery & promotion of content creators. It's home to breaking news in social media, & urban cultural entertainment.</p>
						</div><!--widget-information end-->
					</div>
				</div>
			</div><!--top-footer end-->
			<div class="bottom-strip">
				<p>© azyrusthemes    <i class="icon-like"></i> Made in India</p>
				<ul class="social-links">
					<li><a href="#" title=""><i class="icon-facebook-official"></i></a></li>
					<li><a href="#" title=""><i class="icon-twitter"></i></a></li>
					<li><a href="#" title=""><i class="icon-instagram"></i></a></li>
				</ul>
				<div class="clearfix"></div>
			</div><!--bottom-strip end-->
		</div>
	</footer><!--footer end-->


</div><!--wrapper end-->

<header th:include="/common/footer"></header>
</body>
</html>