<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunfei.mapper.TSysUserRolesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yunfei.entity.TSysUserRoles">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="role_id" property="roleId" />
        <result column="creator" property="creator" />
        <result column="creator_name" property="creatorName" />
        <result column="create_time" property="createTime" />
        <result column="modify_by" property="modifyBy" />
        <result column="modify_time" property="modifyTime" />
        <result column="modify_name" property="modifyName" />

        <!-- 指定单个对象的对应关系
            property：指定将数据放入Orders中的user属性中
            javaType：user属性的类型
         -->
        <association property="role" javaType="com.yunfei.entity.TSysRoles"
            select="com.yunfei.mapper.TSysRolesMapper.findById" column="{roleId=role_id}">
            <!--<id column="id" property="id" />
            <result column="name" property="name" />
            <result column="code" property="code" />
            <result column="pcode" property="pcode" />
            <result column="find_code" property="findCode" />
            <result column="type" property="type" />
            <result column="remarks" property="remarks" />
            <result column="dept_id" property="deptId" />
            <result column="creator" property="creator" />
            <result column="creator_name" property="creatorName" />
            <result column="create_time" property="createTime" />
            <result column="modify_by" property="modifyBy" />
            <result column="modify_time" property="modifyTime" />
            <result column="modify_name" property="modifyName" />-->
        </association>
    </resultMap>

    <select id="findByUserId" resultMap="BaseResultMap">
        select * from t_sys_user_roles t where t.user_id = #{userId}
    </select>

</mapper>
